__pycache__/
*.py[cod]
*.pyo

.ipynb_checkpoints/

.venv/

.env

data/raw/*.csv
data/raw/*.parquet
data/cleaned/*

data/analysis_ready/*

*.sqlite
database/*.db
*.db

.DS_Store
Thumbs.db

.vscode/
.idea/

*.log